body {
    font-family: helvetica, sans-serif;
    width: 90vw;
    margin: 1rem auto;
    border: 1px solid green;
    padding: 1rem;
}

label {
    font-size: 2rem;
    font-weight: 600;
}

button {
    background: none;
    border: 1px solid black;
    padding: 0.5rem;
}

input[type="text"] {
    padding: 0.5rem;
    width: 30vw;
}

div {
    padding-bottom: 1rem;
}

p {
    background: #FFC125;
    color: #5E2612;
    padding: 2rem;
    visibility: hidden;
}